force-app/main/default/flows/budgetPlannerCreateaContributionorDeduction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignContributionValues</name>
        <label>Assign Contribution Values</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contributionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contributionCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contributionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.dateOfContribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contributionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.financialItemMD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contributionFinancialItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contributionToBeAdded.paymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContributionRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeductionValues</name>
        <label>Assign Deduction Values</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.dateOfDeduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.financialItemMD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionFinancialItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deductionToBeAdded.paymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductionPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createDeductionRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>contributionChoice</name>
        <choiceText>Contribution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contribution</stringValue>
        </value>
    </choices>
    <choices>
        <name>deductionChoiceText</name>
        <choiceText>Deduction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deduction</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_1</name>
        <label>Contribution or Deduction</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>gatherDeductionValuesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deduction</defaultConnectorLabel>
        <rules>
            <name>contributionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contributionOrDeductionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gatherContributionValuesScreen</targetReference>
            </connector>
            <label>Contribution</label>
        </rules>
    </decisions>
    <description>This screen flow will give a user friendly way to add or remove contributions and deductions.</description>
    <dynamicChoiceSets>
        <name>contributionPaymentMethodValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>paymentMethod__c</picklistField>
        <picklistObject>Contribution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contributionTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Contribution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deductionPaymentMethodValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>paymentMethod__c</picklistField>
        <picklistObject>Deduction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deductionTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type__c</picklistField>
        <picklistObject>Deduction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Budget Planner | Create a Contribution or Deduction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Planner | Create a Contribution or Deduction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContributionRecord</name>
        <label>Create Contribution Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>successfullyAddedScreen</targetReference>
        </connector>
        <inputReference>contributionToBeAdded</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createDeductionRecord</name>
        <label>Create Deduction Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>successfullyAddedScreen</targetReference>
        </connector>
        <inputReference>deductionToBeAdded</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createFinancialItemContribution</name>
        <label>Create Financial Item</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>contributionFinancialItemId</assignRecordIdToReference>
        <connector>
            <targetReference>assignContributionValues</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contributionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentDate__c</field>
            <value>
                <elementReference>contributionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>plannerMD__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type__c</field>
            <value>
                <stringValue>Contribution</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>createFinancialItemDeduction</name>
        <label>Create Financial Item</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>deductionFinancialItemId</assignRecordIdToReference>
        <connector>
            <targetReference>assignDeductionValues</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>deductionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentDate__c</field>
            <value>
                <elementReference>deductionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>plannerMD__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type__c</field>
            <value>
                <stringValue>Deduction</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>getRecordId</name>
        <label>Get Record Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContributionorDeductionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Planner__c</object>
        <outputAssignments>
            <assignToReference>currentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ContributionorDeductionScreen</name>
        <label>Contribution or Deduction</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>titleDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(43, 104, 202);&quot;&gt;Add a New Contribution or Deduction&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contributionOrDeductionDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please choose from either of the below choices&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contributionOrDeductionChoice</name>
            <choiceReferences>contributionChoice</choiceReferences>
            <choiceReferences>deductionChoiceText</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>contributionChoice</defaultSelectedChoiceReference>
            <fieldText>Contribution or Deduction</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>gatherContributionValuesScreen</name>
        <label>Gather Contribution Values Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createFinancialItemContribution</targetReference>
        </connector>
        <fields>
            <name>titleDisplayText2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(43, 104, 202); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Add a New Contribution or Deduction&lt;/strong&gt;&lt;strong style=&quot;color: rgb(43, 104, 202); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contributionScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Enter your contribution details below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contributionName</name>
            <dataType>String</dataType>
            <fieldText>Contribution Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contributionType</name>
            <choiceReferences>contributionTypeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contribution Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>paymentType</name>
            <choiceReferences>contributionPaymentMethodValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>contributionCost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contributionType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>contributionDate</name>
            <dataType>Date</dataType>
            <fieldText>Contribution Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contributionType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>gatherDeductionValuesScreen</name>
        <label>Gather Deduction Values Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createFinancialItemDeduction</targetReference>
        </connector>
        <fields>
            <name>titleDisplayText3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(43, 104, 202); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Add a New Contribution or Deduction﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_contributionScreenDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Enter your contribution details below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deductionName</name>
            <dataType>String</dataType>
            <fieldText>Deduction Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>deductionType</name>
            <choiceReferences>deductionTypeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deduction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>deductionPaymentMethod</name>
            <choiceReferences>deductionPaymentMethodValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>deductionCost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>deductionType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deductionDate</name>
            <dataType>Date</dataType>
            <fieldText>Deduction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>deductionType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successfullyAddedScreen</name>
        <label>Successfully Added Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successfullyAddedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(72, 208, 69); font-size: 20px;&quot;&gt;Successfully added.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(72, 208, 69); font-size: 20px;&quot;&gt;Click &quot;Finish&quot; to add another.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contributionFinancialItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contributionToBeAdded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contribution__c</objectType>
    </variables>
    <variables>
        <name>currentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deductionFinancialItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deductionToBeAdded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deduction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
